<nav>
  <div class="nav-wrapper white">
    <form>
      <div class="input-field">
        <input id="search" name="search" required [(ngModel)]="searchText" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
        <i class="material-icons" (click)="search()">find_in_page</i>
      </div>
    </form>
  </div>
</nav>

<table class="striped responsive-table highlight centered">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let comp of companyData; let i = index;">
      <td>{{comp.compCode}}</td>
      <td>{{comp.compName}}</td>
      <td><a class="btn-floating btn waves-effect waves-light red lighten-1"><i class="material-icons" (click)="onEditButtonClick(comp._id);">edit</i></a></td>
      <td><a class="btn-floating btn waves-effect waves-light red lighten-1"><i class="material-icons" (click)="onDeleteButtonClick(comp._id);">delete</i></a></td>
    </tr>
  </tbody>
</table>

<ul class="pagination center">
 <!--  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li> -->
  <li class="waves-effect" *ngFor="let p of paging; let i = index;" [ngClass]="{'active' : i == numPage}">
    <a (click)="gotoPage(i)">{{p}}</a>
  </li>
 <!--  <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li> -->
</ul>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light green lighten-1" (click)="onAddButtonClick();">
    <i class="large material-icons">add</i></a>
</div>