<!-- <div class="row">
  <div class="grid-example col s12 m6 14 xl3">
    <span class="flow-text">I am always full-width (col s12)</span></div>
  <div class="grid-example col s12 m6">
    <span class="flow-text">I am full-width on mobile (col s12 m6)</span></div>
  <div class="grid-example col m12 hide-on-small-only">
    <span class="flow-text">I am full-width on mobile (col s12 m6)</span></div>
</div>

<a class="waves-effect waves-light btn light-blue accent-2 black-text">button</a>
<a class="waves-effect waves-light btn teal deep-orange lighten-2 red-text">
  <i class="material-icons left black-text">extension</i>button</a>
<a class="waves-effect waves-light btn blue-grey lighten-4 ">
  <i class="material-icons right purple darken-4-text">alarm</i>button</a> -->

<!-- path มาจาก routing -->
<router-outlet></router-outlet>

<!-- เรียกใช้ Component -->
<!-- <app-home></app-home> -->

